body{
    min-height: 100vh;
}

main{
    flex: 1;
}

footer {
    padding-bottom: 50px;
    width: 100%;
    font-family: var(--cuerpo_de_texto_font);
    font-size: 20px;
}

footer section {
    color: white;
    margin: 0 auto;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

p{
    color: white;
}

.footer-links {
    display: flex;
    gap: 20px;
}

@media (max-width:1400px) {
    footer section{
        width: 98%;
        font-size: var(--cuerpo_de_texto_size_mq1400);
    }

    footer a{
        font-size: var(--cuerpo_de_texto_size_mq1400);
    }
}

@media (max-width:850px) {
    footer section{
        flex-direction: column;
        gap: 15px;
        font-size: var(--cuerpo_de_texto_size_mq850);
    }

    footer a{
        font-size: var(--cuerpo_de_texto_size_mq850);
    }
}