@import url("/assets/css/global-styles/styles.css");
@import url("/assets/css/global-styles/header.css");
@import url("/assets/css/global-styles/mq-menu.css");
@import url("/assets/css/login-register/footer-login-register.css");

.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    color: white;
    font-family: var(--titulos_encabezados_font);
    font-size: var(--titulos_encabezados_size);
}

form{
    width: 50%;
    padding: 30px;
    background: #292A32;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.register-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: var(--cuerpo_de_texto_font);
    font-size: var(--cuerpo_de_texto_size);
}

.form-cards{
    display: flex;
    gap: 20px;
    width: 100%;
}

.form-text{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    white-space: nowrap;
}

.form-text input{
    color: black;
    width: 100%;
    padding: 10px;
    border-radius: 14px;
    border: none;
}

.send-button {
    font-family: var(--cuerpo_de_texto_font);
    background: var(--naranja1);
    color: black;
    width: 200px;
    height: 50px;
    border-radius: 14px;
    padding: 15px;
    border: none;
    cursor: pointer;
    transition: 1s;
}

.send-button:hover {
    background: var(--naranjahover);
    font-size: 16px;
}



@media (max-width:1400px) {
    form{
        width: 700px;
    }
    .register{
        font-size: var(--titulos_encabezados_size_mq1400);
        
    }

    .register-form{
        font-size: var(--cuerpo_de_texto_size_mq1400);
    }

}

@media (max-width:850px) {
    form{
        width: 450px;
        padding: 20px;
    }

    .form-cards{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    form{
        width: 98%;
    }
}

