header{
    display: flex;
    justify-content: space-between;
    z-index: 3;
    position: sticky;
    background: #242a30;
    top: 0;
    padding: 20px 4.5%;
    align-items: center;
    box-shadow: 0px 10px 5px 5px #242a30;
    height: 72px;
}

header a {
    display: flex;
}

.logo{
    width: 250px;
}

nav{
    display: flex;
    gap: 40px;
    align-items: center;
    font-family: var(--cuerpo_de_texto_font);
}

.navbar{
    display: flex;
    gap: 20px;
    align-items: center;
}

.menu-label,.menu-label-1400{ 
    display: none;
}

#toggle-menu, #toggle-menu-1400{
    display: none;
}

.navbar-list{
    display: flex;
    gap: 15px;
}

.navbar-list a{
    color: var(--titulos_encabezados_color);
}

.navbar button{
    padding: 7px 10px;
    border-radius:var(--button_radius) ;
    border: none;
    cursor: pointer;
    font-family: var(--cuerpo_de_texto_font);
    font-weight: 500;
    background: var(--naranja1);
    color: #1c1c1c;
    transition: 1s;
}

.navbar button:hover{
    background: var(--naranjahover);
}


@media (max-width:850px){
    .logo{
        width: 200px;
    }
}