@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --titulos_encabezados_font: "Montserrat", sans-serif;
    --titulos_encabezados_size_h1: 45px;
    --titulos_encabezados_size_h2: 40px;
    --titulos_encabezados_size_h3: 35px;
    --titulos_encabezados_color: white;
    --cuerpo_de_texto_font: "Noto Sans", sans-serif;
    --cuerpo_de_texto_color: #B3B3B3;
    --cuerpo_de_texto_size: 25px;
    --button_radius: 5px;
    --naranja1: #F2911B;
    --naranjacards: rgb(180, 95, 38);
    /* ============= Media queries ============ */
    --titulos_encabezados_size_h1_mq1400:40px;
    --titulos_encabezados_size_h2_mq1400:35px;
    --titulos_encabezados_size_h3_mq1400:30px;
    --cuerpo_de_texto_size_mq1400:20px;
    --titulos_encabezados_size_h1_mq850: 35px;
    --titulos_encabezados_size_h2_mq850: 30px;
    --titulos_encabezados_size_h3_mq850: 25px;
    --cuerpo_de_texto_size_mq850: 15px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none!important;
    color: white;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 120px; 
}

body {
    display: flex;
    flex-direction: column;
    gap: 100px;
    background: #181c20;
}

button a{
    color: black;
}

main{
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.benefits, .vehicles {
    width: 90%;
    margin: 0 auto;
}

h1 {
    font-size: var(--titulos_encabezados_size_h1);
    font-family: var(--titulos_encabezados_font);
    font-weight: 800;
}

h2 {
    font-size: var(--titulos_encabezados_size_h2);
    font-family: var(--titulos_encabezados_font);
    font-weight: 600;
}

h3{
    font-size: var(--titulos_encabezados_size_h3);
    font-family: var(--titulos_encabezados_font);
    font-weight: 500;
}

p {
    font-size: var(--cuerpo_de_texto_size);
    font-family: var(--cuerpo_de_texto_font);
    color: var(--cuerpo_de_texto_color);
    font-weight: 400;
}

@media (max-width:1400px) {
    body {
        gap: 50px;
    }

    h1 {
        font-size: var(--titulos_encabezados_size_h1_mq1400);
    }

    h2 {
        font-size: var(--titulos_encabezados_size_h2_mq1400);
    }

    h3{
        font-size: var(--titulos_encabezados_size_h3_mq1400);
    }

    p {
        font-size: var(--cuerpo_de_texto_size_mq1400);
    }
    
}


@media (max-width:850px) {
    h1 {
        font-size: var(--titulos_encabezados_size_h1_mq850);
    }

    h2 {
        font-size: var(--titulos_encabezados_size_h2_mq850);
    }

    h3{
        font-size: var(--titulos_encabezados_size_h3_mq850);
    }

    p {
        font-size: var(--cuerpo_de_texto_size_mq850);
    }
}